<div class="box box-primary direct-chat direct-chat-success gf-chat">
  <div class="box-header with-border">
    <img class="img-responsive img-circle img-sm" [src]="chatRoom.contactUser ? chatRoom.contactUser.photoURL : noPhotoURL" alt="User Profile Picture">
    <h3 class="box-title message-title">
      <div *ngIf="chatRoom.contactUser ? false : true">Selecciona un contacto</div>
      <a *ngIf="chatRoom.contactUser ? true : false" (click)="goToUserProfile()" class="pointer-link">{{chatRoom.contactUser.name}}</a>
    </h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool hidden-sm hidden-md hidden-lg" (click)="deleteCurrentContactMessages()">
        <i class="fa fa-address-book contacts-button-img"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div id="chat-container" class="direct-chat-messages">
      <div *ngFor="let message of messages">
        <div class="direct-chat-msg" [ngClass]="{'right': message.senderId === currentUser.id}">
          <div class="direct-chat-info clearfix">
            <span class="direct-chat-timestamp" [ngClass]="{'pull-left': message.senderId === currentUser.id, 'pull-right': message.senderId !== currentUser.id}">{{message.date.getTime() | date:'short'}}</span>
          </div>
          <div class="direct-chat-text">
            {{message.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="chatRoom.contactUser ? true : false" class="box-footer">
    <div class="input-group">
      <input (keyup.enter)="sendMessage()" type="text" name="message" placeholder="Escribe un mensaje..." class="form-control"
        [(ngModel)]="newMessage.message">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-flat" (click)="sendMessage()">Enviar</button>
      </span>
    </div>
  </div>
</div>