.gf-chat {
    height: 100%;
    margin-bottom: 0px;
}

.direct-chat-messages {
    height: calc(100vh - 189px);
    overflow-x: hidden;
}

.direct-chat-msg {
    margin-top: 3px;
    margin-bottom: 3px;
}

.direct-chat-text {
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 0px;
}

.right .direct-chat-text {
    margin-right: 0px;
    margin-left: 100px;
}

.message-date {
    font-size: xx-small;
}

.message-title {
    padding-top: 5px;
    padding-left: 5px;
}

.contacts-button-img {
    padding-top: 1px;
}
