<div class="row">
  <div class="col s12 offset-m3 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Ingrese a Good Food</span>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Correo electrónico</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="right-align">
              <label>
                <a routerLing="/sign-in">
                  <b>¿Olvidó su contraseña?</b>
                </a>
              </label>
            </div>
          </form>
        </div>
      </div>
      <div class="card-action center-align">
        <a class="waves-effect waves-light btn">Ingresar</a>
      </div>
    </div>
  </div>
</div>