<div class="parallax-container">
  <div class="parallax">
    <img src="/assets/img/salchipapa.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Mani Salchis</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat urna non ultricies elementum. Nam id turpis mi.
      Sed id vehicula odio. Donec sit amet facilisis justo. Duis libero lorem, consectetur ut faucibus eget, dapibus non
      nulla. Quisque dolor nulla, vestibulum ut erat et, iaculis molestie metus. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Ut non placerat mauris. Integer eget massa at turpis pellentesque tempor sit amet ut lorem. Nam nec
      leo dolor. Aenean congue nulla id risus viverra mattis. Pellentesque ac erat sollicitudin, blandit nulla tincidunt,
      malesuada elit. Donec tristique pretium ante ac sodales. Mauris venenatis sem nec iaculis laoreet.
    </p>
  </div>
</div>