<section class="content">

  <div class="row">
    <div class="col-md-3">

      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" [src]="restaurantProfilePicURL" alt="Restaurant profile picture">

          <h3 class="profile-username text-center">{{restaurant.name}}</h3>

          <p class="text-muted text-center">{{restaurant.type}}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Seguidores</b>
              <a class="pull-right">{{restaurant.followersCount}}</a>
            </li>
          </ul>

          <button *ngIf="!isCurrentUserARestaurant" class="btn btn-info btn-block" [disabled]="!isFollowButtonReady" (click)="(isFollow && follow()) || (isUnfollow && unfollow())">
            <b *ngIf="!isFollowButtonReady">...</b>
            <b *ngIf="isFollow">Seguir</b>
            <b *ngIf="isUnfollow">Dejar de Seguir</b>
          </button>
          <a [routerLink]="['/restaurant-menu', restaurantId]" class="btn btn-info btn-block">
            <b>Ver Menú</b>
          </a>
          <button *ngIf="restaurantHasOwner" [disabled]="!isMessageButtonReady" (click)="isMessageButtonReady && goToChatRoom()" class="btn btn-info btn-block">
            <b>Mensajes</b>
          </button>
        </div>
      </div>

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Más Información</h3>
        </div>
        <div class="box-body">
          <strong>
            <i class="fa fa-map-marker margin-r-5"></i> Ubicación</strong>

          <p class="text-muted">Cochabamba, Bolivia</p>
          <div *ngIf="showRegisterButton">
            <hr>
            <button (click)="registerAsMyRestaurant()" class="btn btn-info btn-block">
              <b>¿Es este tu restaurante?</b>
            </button>
          </div>
          <!-- <hr>
          <strong>
            <i class="fa fa-mobile margin-r-5"></i> Teléfonos</strong>
          <p class="text-muted">44444444</p> -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div *ngIf="isCurrentUserARestaurant" class="box box-primary">
        <div class="box-body">
          <strong>
            <i class="fa fa-plus margin-r-5"></i> Nueva Publicación</strong>
          <hr>

          <div>
            <img class="img-responsive img-circle img-sm" [src]="restaurantProfilePicURL" alt="Restaurant Profile Picture">
            <div class="img-push">
              <textarea type="text" class="form-control input-sm" [(ngModel)]="newPublication.paragraph" name="paragraph" placeholder="Añade tu publicación"
                style="resize: none;"></textarea>
            </div>
            <br>
            <a (click)="savePublication()" class="btn btn-info btn-block">
              Publicar
            </a>
          </div>
        </div>
      </div>

      <div class="box box-primary" *ngFor="let post of publications">
        <div class="box-body">
          <div id="activity">

            <div class="post">
              <div class="user-block">
                <img class="img-circle img-bordered-sm" [src]="restaurantProfilePicURL" alt="Restaurant Profile Picture">
                <span class="username">
                  <a>{{post.ownerName}}</a>
                  <!-- <a class="pull-right btn-box-tool">
                    <i class="fa fa-ellipsis-v"></i>
                  </a> -->
                </span>
                <span class="description">{{post.date.getTime() | date}}</span>
              </div>
              <p>
                {{post.paragraph}}
              </p>
              <ul class="list-inline">
                <li>
                  <div class="text-sm">
                    <i class="fa fa-comments-o margin-r-5"></i> Comentarios ({{post.comments.length}})
                  </div>
                </li>
              </ul>

              <img class="img-responsive img-circle img-sm" [src]="currentAppUser.photoURL" alt="User Profile Picture">
              <div class="img-push">
                <input (keyup.enter)="addComment(post)" type="text" class="form-control input-sm" placeholder="Deja un comentario" name="comment"
                  [(ngModel)]="post.newComment">
              </div>
              <br>

              <div class="chat" id="chat-box" style="width: auto; max-height: 250px; overflow-y: auto">

                <div *ngFor="let comment of post.comments" class="item">
                  <img [src]="comment.user.photoURL" alt="user image" class="online">
                  <p class="message">
                    <a class="name">
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o"></i> {{comment.date.getTime() | date}}</small>
                      {{comment.user.name}}
                    </a>
                    {{comment.comment}}
                  </p>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</section>