<div class="carousel">
  <a class="carousel-item">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="/assets/img/silpancho-md.jpg">
            <span class="card-title">Silpancho</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="/assets/img/silpancho-md.jpg">
            <span class="card-title">Silpancho</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="/assets/img/silpancho-md.jpg">
            <span class="card-title">Silpancho</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="/assets/img/silpancho-md.jpg">
            <span class="card-title">Silpancho</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="/assets/img/silpancho-md.jpg">
            <span class="card-title">Silpancho</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>