<section class="content">
  <div class="callout callout-info">
    <h4>Good Food</h4>

    <p class="hidden-xs">Good Food es la aplicación que te ayudará a encontrar el lugar idóneo donde ir a comer.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="box box-primary">
        <div class="box-body">
          <form action="#" method="get">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
          <div *ngFor="let restaurant of restaurants">
            <div class="col-md-3 col-xs-12 col-sm-4">
              <div class="card" [routerLink]="['/restaurant-profile', restaurant.id]">
                <img [src]="restaurant.photoURL" alt="Avatar" style="width: 100%; height: 120px;">
                <div class="card-container">
                  <h4>
                    <b>{{restaurant.name}}</b>
                  </h4>
                  <p>{{restaurant.type}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>