<nav>
  <div class="nav-wrapper blue light-blue">
    <a class="brand-logo">Good Food</a>
    <a data-activates="mobile-sidenav" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/sign-in">Sign in</a>
      </li>
      <li>
        <a routerLink="/sign-up">Sign up</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-sidenav">
      <li>
        <a routerLink="/sign-in">Sign in</a>
      </li>
      <li>
        <a routerLink="/sign-up">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>