<div [ngClass]="{'wrapper': authService.isLoggedIn()}">

  <header class="main-header" *ngIf="authService.isLoggedIn()">
    <a class="logo hidden-xs" routerLink="/home">
      <span class="logo-mini">
        <b>G</b>F</span>
      <span class="logo-lg">
        <b>Good</b>Food</span>
    </a>

    <nav class="navbar navbar-static-top">
      <a class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-header visible-xs">
        <a class="navbar-brand" routerLink="/home"><b>Good</b>Food</a>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar" *ngIf="authService.isLoggedIn()">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="./assets/img/avatar04.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Mauricio Arce</p>
          <p>
            <i class="fa fa-circle text-success"></i> Cliente</p>
        </div>
      </div>

      <form class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">RESTAURANTES</li>
        <li>
          <a [routerLink]="['/restaurant-profile', 1]" data-toggle="push-menu">
            <i class="fa fa-cutlery"></i>
            <span>Perfil restaurante</span>
          </a>
        </li>
        <li>
          <a routerLink="/map" data-toggle="push-menu">
            <i class="fa fa-map-marker"></i>
            <span>Ubicación restaurante</span>
          </a>
        </li>
        <li class="header">SESIÓN</li>
        <li>
          <a (click)="authService.logOut()" data-toggle="push-menu">
            <i class="fa fa-sign-out"></i>
            <span>Cerrar sesión</span>
          </a>
        </li>
        <li class="header">ETIQUETAS</li>
        <li>
          <a data-toggle="push-menu">
            <i class="fa fa-circle-o text-red"></i>
            <span>Importante</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

  <div [ngClass]="{'content-wrapper': authService.isLoggedIn()}">
    <router-outlet></router-outlet>
  </div>

</div>