<div [ngClass]="{'wrapper': authService.isLoggedIn()}">

  <header class="main-header" *ngIf="authService.isLoggedIn()">
    <a class="logo">
      <span class="logo-mini">
        <b>G</b>F</span>
      <span class="logo-lg">
        <b>Good</b>Food</span>
    </a>

    <nav class="navbar navbar-static-top">
      <a class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </nav>
  </header>

  <aside class="main-sidebar" *ngIf="authService.isLoggedIn()">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="./assets/img/avatar04.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Mauricio Arce</p>
          <p>
            <i class="fa fa-circle text-success"></i> Cliente</p>
        </div>
      </div>

      <form class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENÚ</li>
        <li class="treeview">
          <a href>
            <i class="fa fa-dashboard"></i>
            <span>Restaurantes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a [routerLink]="['/restaurant-profile', 1]">
                <i class="fa fa-circle-o"></i> Perfil restaurante</a>
            </li>
            <li>
              <a routerLink="/restaurant-locations">
                <i class="fa fa-circle-o"></i> Ubicación restaurante</a>
            </li>
          </ul>
        </li>
        <li>
          <a>
            <i class="fa fa-book"></i>
            <span>Documentation</span>
          </a>
        </li>
        <li>
          <a (click)="authService.logOut()">
            <i class="fa fa-book"></i>
            <span>Cerrar sesión</span>
          </a>
        </li>
        <li class="header">LABELS</li>
        <li>
          <a>
            <i class="fa fa-circle-o text-red"></i>
            <span>Important</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

  <div [ngClass]="{'content-wrapper': authService.isLoggedIn()}">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <footer class="main-footer" *ngIf="authService.isLoggedIn()">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2017-2018
      <a href>Mauricio Arce</a>.</strong> Todos los derechos reservados.
  </footer> -->

</div>