<div class="login-box">
  <div class="login-logo">
    <a>
      <b>Good</b>Food</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Iniciar sesión</p>

    <form>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Correo">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Contraseña">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Recuérdame
            </label>
          </div>
        </div>

        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="authService.logIn()">Ingresar</button>
        </div>

      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- O -</p>
      <a class="btn btn-block btn-social btn-facebook btn-flat">
        <i class="fa fa-facebook"></i> Iniciar sesión con Facebook
      </a>
      <a class="btn btn-block btn-social btn-google btn-flat">
        <i class="fa fa-google"></i> Iniciar sesión con Google
      </a>
    </div>

    <a>Olvidé mi contraseña</a>
    <br>
    <a class="text-center" routerLink="/register">Registrarme</a>

  </div>

</div>