<section class="content">
  <div class="row">
    <div class="col-sm-4 col-md-3" [ngClass]="{'hidden-xs': this.currentChatRoom.id}">
      <div class="black-contacts-container">
        <ul class="contacts-list">
          <li *ngFor="let room of chatRooms" class="contact-item" [ngClass]="{'selected-contact': room.id === currentChatRoom.id}">
            <a (click)="setCurrentChatRoom(room)">
              <img class="contacts-list-img" [src]="room.contactUser.photoURL" alt="Contact Image">
              <div class="contacts-list-info">
                <span class="contacts-list-name">
                  {{room.contactUser.name}}
                  <small class="pull-right">{{room.date.getTime() | date}}</small>
                </span>
                <span>{{room.lastMessage}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6" [ngClass]="{'hidden-xs': !this.currentChatRoom.id}" style="height: calc(100vh - 80px);">
      <food-chat [chatRoom]="currentChatRoom" (onDeleteCurrentContact)="deleteCurrentContact()"></food-chat>
    </div>
  </div>
</section>