<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="black-contacts-container">
        <ul class="contacts-list">
          <li>
            <a href="#">
              <img class="contacts-list-img" src="./assets/img/nophoto.png" alt="User Image">

              <div class="contacts-list-info">
                <span class="contacts-list-name">
                  Count Dracula
                  <small class="pull-right">2/28/2015</small>
                </span>
                <span>How have you been? I was...</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="contacts-list-img" src="./assets/img/nophoto.png" alt="User Image">

              <div class="contacts-list-info">
                <span class="contacts-list-name">
                  Pepe
                  <small class="pull-right">2/28/2015</small>
                </span>
                <span>How have you been? I was...</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<a class="float">
  <img src="./assets/img/baseline_add_white_18dp_2.png" class="my-float" data-toggle="modal" data-target="#modal-new-message">
</a>

<div class="modal modal-info fade in" id="modal-new-message">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Restaurantes que sigues</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Restaurant</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let restaurant of followedRestaurants; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{restaurant.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-outline">Save changes</button> -->
      </div>
    </div>
  </div>
</div>