<header class="main-header offline-header">
  <a class="logo hidden-xs" (click)="goHome()">
    <span class="logo-lg">
      <b>Good</b>Food</span>
  </a>

  <div class="navbar-header visible-xs">
    <a class="navbar-brand" (click)="goHome()">
      <b>Good</b>Food</a>
  </div>
</header>
<div class="content-wrapper">
  <section class="content">
    <div class="box box-primary">
      <div class="box-body">
        <p>No estás conectado a internet, por favor revisa tu conexión.</p>
      </div>
    </div>
  </section>
</div>