<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" [styles]="styles" (mapReady)="addLocationElement($event)" (mapClick)="showNewRestaurantInfoWindow($event)">

  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'./assets/img/current-human-location_64x64.png'" (markerClick)="showNewRestaurantInfoWindowHere()"></agm-marker>

  <agm-marker *ngFor="let restaurant of restaurantService.restaurants | async" [latitude]="restaurant.lat" [longitude]="restaurant.lng"
    [iconUrl]="'./assets/img/ic_restaurant_black_24dp_1x.png'" (markerClick)="showRestaurantInfoWindow(restaurant)"></agm-marker>

  <agm-info-window [latitude]="currentRestaurant.lat" [longitude]="currentRestaurant.lng" [isOpen]="isRestaurantInfoWindowOpen"
    (infoWindowClose)="closeRestaurantInfoWindow()">
    <a [routerLink]="['/restaurant-profile', currentRestaurant.id]">{{currentRestaurant.name}}</a>
  </agm-info-window>

  <agm-info-window [latitude]="newRestaurant.lat" [longitude]="newRestaurant.lng" [isOpen]="isNewRestaurantInfoWindowOpen"
    (infoWindowClose)="closeNewRestaurantInfoWindow()">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
      Añadir restaurante
    </button>
  </agm-info-window>

  <div #locationElement>
    <a id="location-button" (click)="centerMapOnUserLocation()">
      <img src="./assets/img/ic_my_location_black_24dp_1x.png">
    </a>
  </div>
</agm-map>

<div class="modal modal-info fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Añadir restaurante</h4>
      </div>
      <form #restaurantForm="ngForm" role="form" novalidate>
        <div class="modal-body">
          <div class="form-group text-center">
            <label for="upload-file">
              <img #restaurantPictureElement class="profile-user-img img-responsive img-circle" src="./assets/img/nophoto.png" alt="Restaurant profile picture">
            </label>
            <input type="file" id="upload-file" class="invisible" accept=".jpg, .jpeg, .png" (change)="setRestaurantPicture($event)">
          </div>
          <div class="form-group">
            <label for="restaurant-name">Nombre del restaurante*</label>
            <input id="restaurant-name" type="text" class="form-control" placeholder="Ingrese el nombre" name="name" [(ngModel)]="newRestaurant.name"
              required>
          </div>
          <div class="form-group">
            <label for="restaurant-type">Tipo de restaurante*</label>
            <input id="restaurant-type" type="text" class="form-control" name="type" placeholder="Ingrese el tipo" name="type" [(ngModel)]="newRestaurant.type"
              required>
          </div>
          <div class="form-group">
            <label for="restaurant-category">Categoría del restaurante*</label>
            <select id="restaurant-category" class="form-control" name="category" [(ngModel)]="newRestaurant.categoryId" required>
              <option [value]="undefined" disabled selected>Ingrese la categoría</option>
              <option *ngFor="let category of restaurantCategoryService.categories | async" [value]="category.id">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" (click)="closeNewRestaurantInfoWindow()" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline" (click)="saveRestaurant()" data-dismiss="modal" [disabled]="restaurantForm.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<food-loader [percent]="loaderPercent"></food-loader>