@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
}

body {
    font-family: 'montserrat';
}

.fixed .content-wrapper {
    padding-top: 50px;
}

.main-sidebar {
    padding-top: 50px;
}