.main-header .sidebar-toggle-right {
    float: right;
    background-color: transparent;
    background-image: none;
    padding: 15px;
    font-family: fontAwesome;
    color: tomato;
}

.main-sidebar {
    padding-top: 50px;
}

.control-sidebar {
    padding-top: 50px;
}

.restaurant-link {
    cursor: pointer;
}

.restaurant-link div {
    padding-top: 5px;
    padding-left: 35px;
}
